.App {
  
  text-align: center;
  height: 0px;
}




.App-header {
  background-color: #282c34;
 top: -250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  
  color: white;
}

.App-link {
  color: #61dafb;
}



.nav-nav{
  
  background-color: rgb(216, 151, 10);
  color: rgb(255, 255, 255);
  padding: 18px 40px ;
  text-decoration: none;
position:relative;
  border-radius: 8%;
  top: -110px;
  left: -1700px;
  
}
.nav-nav:hover{
  background-color:rgb(233, 182, 72);
  top: -110px;

}


  .btnlogin{
    background-color: rgb(101, 189, 1);
    color: white;
    top: -230px;
    left: 680px;
    position: relative;
    border-radius: 8%;
    padding: 15px 30px;

  }
  .btnlogin:hover{
    background: rgb(150, 228, 77);
  position: relative;
  top: -230px;}

  .perfil{
    top: 20px;
    left: 830px;
    position: relative;
    color: rgb(7, 7, 7);
   
  }
  .btnlogout{
    background-color: rgb(0, 120, 156);
    color: white;
    top:-290px;
    left:860px;
    
    position: relative;
    border-radius: 8%;
    padding: 15px 30px;

  }
  .btnlogout:hover{
    background: rgb(64, 149, 206);
  position: relative;
  }
 .back{
 
  color: rgb(56, 221, 23);
  left:-910px;
  position: relative;
  top: -350px;

 }
 .tudoc{
  position:relative;
  top:-60px;
  border-radius: 100%;
  
 }
 .fotoper{
  border-radius: 100%;
 }


.BarraA{
  background-color: #282c34;
  position: relative;
  top: 1300px;
  height: 276px;
  
  

  
}
.mensaje{
  background: rgba(206, 205, 135, 0.63);
    font-style:italic;
    font-size: large;
    
    width:800px ;
    left: 10px;
    top: 10px;
    position: relative;
}