.nav-nav{
    display: inline-block;
    background-color: rgb(20, 130, 220);
    color: azure;
    padding: 15px 30px ;
    text-decoration: none;
    position:relative;
    top: 110px;
    margin: 10px;
    border-radius: 10%;
}

.nav-nav:hover{
    background: rgb(172, 217, 243);
    position: relative;
    top: 110px;}


nav{
   
    padding: 2px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: -60px;
    left:980px ;
    
}
.imagen {
    background: rgb(114, 187, 92);
    width: 1790px;
    height: 420px;
    position: relative;
    top: 30px;
    left: 50px;
   

    

}
.logo{
    background: rgb(194, 138, 34);
    width: 250px;
    height: 150px;
    position: fixed;
    top: 60px;
    left: 80px;
    

}
.mensaje{
   background-color: rgb(154, 211, 185);
    font-style:italic;
    font-size:larger;
    border-radius: 8%;
   
    width: 400px;
    height: 100px;
    position: fixed;
    top: 330px;
    left: 90px;

}
.parrafo{
    background: rgba(206, 205, 135, 0.63);
    font-style:normal;
    font-size: large;
    border-radius: 8%;

   
    width: 500px;
    height: 150px;
    position: fixed;
    top: 450px;
    left: 90px;

}

.contactanos{
    background: rgba(31, 30, 30, 0.932);
    color: azure;
    font-style:normal;
   
    width: 1790px;
    height: 120px;
    position: fixed;
    top: 835px;
    left: 60px;



}
.info{
    background: rgba(44, 42, 42, 0);
    color: rgb(255, 255, 255);
    font-size: large;
    width: 120px;
    height: 60px;
    top: 850px;
    left: 900px;
    position: fixed;
    border-radius: 5%;
    
}
.whatsapp{
    display: inline-block;
    background-color: rgba(36, 36, 36, 0.795);
    color: rgb(72, 228, 124);
    font-size: large;
    padding: 12px 20px ;
    text-decoration: none;
    position:fixed;
    top: 850px;
    left: 1050px;
    border-radius: 100%;

}
.whatsapp:hover{
    background: rgba(99, 101, 104, 0.938);
    position: fixed;
    top: 850px;}
    .facebook{
        display: inline-block;
        background-color: rgba(36, 36, 36, 0.795);
        color: rgb(72, 145, 228);
        font-size: large;
        padding: 12px 20px ;
        text-decoration: none;
        position:fixed;
        top: 850px;
        left: 1120px;
        border-radius: 100%;
    
    }
    .facebook:hover{
        background: rgba(99, 101, 104, 0.938);
        position: fixed;
        top: 850px;}

        .correo{
            display: inline-block;
            background-color: rgba(36, 36, 36, 0.795);
            color: rgb(197, 71, 21);
            font-size: large;
            padding: 12px 20px ;
            text-decoration: none;
            position:fixed;
            top: 850px;
            left: 1200px;
            border-radius: 100%;
        
        }
        .correo:hover{
            background: rgba(99, 101, 104, 0.938);
            position: fixed;
            top: 850px;}
    





